#main-header{
    width:100vw;
    height:50px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:0px calc(calc(100vw - 1024px) * 0.2);
    background:var(--surface);
    position:relative;
}

.main-header-desktop{
    width:100%;
    height:35px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:0px 5px;
}

.main-header-desktop .desktop-logo{
    flex:1;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    padding:0px 10px;
}

.main-header-desktop .desktop-form{
    flex:8;
    width:100%;
    height:100%;
    display:flex;
    padding:0px 10px;
}

.main-header-desktop .desktop-action{
    flex:4;
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-between;
    color:var(--surface-text-color);
    font-family:var(--fm-roboto-san);
}

.desktop-logo .logo-wrapper{
    padding:0px 8px;
    background:var(--rating-color);
    border-radius:3px;
}

.desktop-logo .logo-wrapper a{
    line-height:35px;
    font-size:22px;
    font-weight:800;
    font-family:var(--fm-poppins-san);
    color:var(--background);
}

.desktop-form .menu-btn{
    flex:1;
    width:100%;
    height:100%;
    text-align:center;
    font-size:16px;
    font-weight:500;
    line-height:35px;
    font-family:var(--fm-roboto-san);
    cursor:pointer;
    border-radius:3px;
    white-space:nowrap;
}

.desktop-form .search-box{
    flex:8;
    display:flex;
    width:100%;
    height:100%;
    padding:0px 20px;
    cursor:pointer;
    position:relative;
}

.search-box .search-input-btn{
    height:100%;
    text-align: center;
    font-size:17px;
    line-height:35px;
    color:black;
    width:75px;
    border-right:1px solid var(--surface);
    background-color:var(--surface-text-color);
    border-radius:3px 0px 0px 3px;
    position:relative;
}

.search-box .search-input-btn span{
    font-weight:500;
    display:inline-block;
}

.search-box .search-input-btn .fa-solid{
    position:relative;
    top:-3px;
    padding:0px 5px;
}

.search-box .search-input-btn .drop-down-options{
    position:absolute;
    width:250px;
    background-color:var(--banner-background);
    top:100%;
    border-radius:3px;
    left:0;
    z-index:15;
    display:none;
}

.search-input-btn:hover .drop-down-options{
    display:block;
}

.search-input-btn .drop-down-options ul{
    width:100%;
}

.search-input-btn .drop-down-options ul li{
    list-style:none;
    display:block;
    width:100%;
    height:35px;
    text-align:left;
    line-height:35px;
    padding:0px 10px;
    font-family:var(--fm-roboto-san);
    font-size:16px;
    font-weight:500;
    color:#fff;
}

.search-input-btn .drop-down-options ul li:hover{
    background:var(--rating-color);
    color:var(--background);
}

.search-input-btn .drop-down-options ul li .fa-solid{
    height:100%;
    line-height:35px;
    position:relative;
    top:1px;
    padding:0px 15px 0px 0px;
}

.search-box .search-input-box-wrapper{
    flex:1;
    position:relative;
}

.search-input-box-wrapper #search-result{
    position:absolute;
    top:100%;
    left:-75px;
    width:calc(100% + 75px);
    max-height:calc(100vh - 50px);
    overflow-x:hidden;
    z-index:15;
    border-radius:0px 0px 5px 5px;
    outline:none;
    background:var(--banner-background);
    display:none;
}

.search-input-box-wrapper:hover #search-result{
    display:block;
}

.search-input-box #search-result ul{
    width:100%;
    height:100%;
}
#search-result ul li{
    list-style:none;
    position:relative;
    display:block;
    width:100%;
    height:80px;
    display:flex;
    padding:5px;
    border-bottom:1px solid var(--surface-text-color);
}

#search-result ul li img{
    height:100%;
}

#search-result ul li .content{
    line-height:1.5;
    margin-left:15px;
    font-family:var(--fm-roboto-san);
    font-size:16px;
}

#search-result ul li .heading{
    font-weight:600;
}

#search-result ul li .year,.actor{
    color:var(--surface-text-color);
    font-size:15px;
}

.search-box .search-input-box{
    width:100%;
    height:100%;
    outline:none;
    background:var(--surface-text-color);
    border-radius:0px 3px 3px 0px;
    padding:0px 40px 0px 5px;
    font-size:16px;
    color:var(--background);
}

.search-box .search-submit-btn{
    position:absolute;
    right:0;
    top:0;
    color:var(--text-color);
    height:100%;
    width:40px;
    text-align:center;
    line-height:40px;
}

.desktop-action .pro{
    display:inline-block;
    color:rgb(69, 69, 255)
}

.desktop-action li{
    height:100%;
    padding:0px 10px;
    line-height:35px;
    white-space:nowrap;
    border-radius:3px;
    cursor:pointer;
}

.desktop-action li:hover{
    background:rgb(46, 44, 44);
}

.desktop-action .divider{
    padding:0px 1px;
    background:var(--text-color);
}

.desktop-action li a{
    height:100%;
    font-size:16px;
    font-weight:500;
}

.desktop-action li .fa-solid{
    padding:0px 5px;
}

.desktop-action .lang-action .fa-solid{
    position:relative;
    top:-3px;
    padding:0px 5px;
}

